
@font-face {
    font-family:"Gotham Light";
    src:url("Gotham-Light.woff2") format("woff2"),url("Gotham-Light.woff") format("woff"),url("Gotham-Light.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        