.client{
	display:inline-block;
	padding: 50px;
}

.client-container{
	width: 90%;
	margin: 0 auto;
}


@media only screen and (max-width: 600px) {
	.homepage-client-container{
		width: 100%;
	}

	.client {
		padding: 30px;
	}
}

