.bracket-container {
}
.bracket-row {
	width: 100%;
	display: flex;
	justify-content: center;
}
.brackets-list {
	width: 50%;
	position: relative;
}

.bracket-text {
	position: absolute;
	font-family: 'Rubik-Light';
	line-height: 34px;
	font-size: 18px;
	width: 70%;
	top: 48%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.bracket-img {
	width: 95%;
}

@media only screen and (max-width: 1570px) {
	.bracket-text {
		font-size: 17px;
		line-height: 32px;
	}
}
@media only screen and (max-width: 1220px) {
	.bracket-text {
		font-size: 15px;
		line-height: 28px;
	}
}

@media only screen and (max-width: 800px) {
	.bracket-text {
		font-size: 13px;
		line-height: 20px;
	}
}
@media only screen and (max-width: 600px) {
	.bracket-text {
		font-size: 11px;
		line-height: 14px;
	}
}
