
@font-face {
    font-family:"Sharp Grotesk Medium 24";
    src:url("SharpGroteskMedium24.woff2") format("woff2"),url("SharpGroteskMedium24.woff") format("woff"),url("SharpGroteskMedium24.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        