body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
}

html, body {
    margin: 0px;
    padding: 0px;
    height: 100%:
} 







.App-footer {
  text-align: center;
  background-color: black;
  color: white;
  border-top: 2px solid red;
  padding-bottom: 50px;
}

.homepage{
  text-align:center;
}

.container {
  width: 45%;
  margin: 0 auto;
}
 @media only screen and (max-width: 600px) {
  .container {
  width: 80%;
  margin: 0 auto;
}
  }
.homepage-hero{
  background-color: black;
  color: white;
  padding: 20px 0;
}

.homepage-features {
  background-color: white;
  color: black;
}
.homepage-steps{
  background-color: black;
  color: white;
  padding: 20px 0;
}
.homepage-steps h1 {
  margin: 0;
  text-align: left;
  margin-top: -20px;
}
.homepage-steps p {
  color: black;
  font-size: 20px;
}
.box {
  background-color:white;
  color: red;
  font-size: 90px;
  font-weight: bold;
  width: 200px;
  height: 400px;
  display:inline-block;
  border: 2px solid black;
  margin-bottom: 40px;

}

/*li {
  margin: 0 auto;
  text-align:center;
  padding: 20px;
  border: 2px solid grey;
  display: inline-block;
  width: 180px;

}

li:nth-child(odd){
  background: yellow;
}
li:nth-child(even){
  background: lightgreen;
}*/




.showcase-parent {
  text-align: center;
}

video {
  padding: 10px;
}

.particles-js{
  position: absolute;
  z-index: -10;
  width: 100%;
  height: 100%;
  background: transparent;
}


circle {
    background: #f00;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 140px;
    margin:10px;
    font-weight: bold;
}

.features-container {
  text-align:center;
}




