@font-face {
	font-family: 'Gotham-Light';
	src: local('Gotham-Light'), url(../fonts/Gotham-Light.woff) format('woff');
}

@font-face {
	font-family: 'Rubik-Light';
	src: local('Rubik-Light'), url(../fonts/Rubik-Light.woff) format('woff');
}

@font-face {
	font-family: 'Rubik-Regular';
	src: local('Rubik-Regular'), url(../fonts/Rubik-Regular.woff) format('woff');
}

@font-face {
	font-family: 'SharpGroteskMedium24';
	src: local('SharpGroteskMedium24'), url(../fonts/SharpGroteskMedium24.woff) format('woff');
}

body {
	margin: 0;
	padding: 0;
	height: 100%;
}

body:after {
	display: none;
	content: url('../images/bg_image_top.jpg');
}

html,
body {
	margin: 0px;
	padding: 0px;
	height: 100%;
}

.homepage {
	text-align: center;
	overflow: hidden;
}

.container {
	width: 55% !important;
	margin: 0 auto;
	height: 100%;
}

@media only screen and (max-width: 1680px) {
	.container {
		width: 65% !important;
	}
}

@media only screen and (max-width: 1340px) {
	.container {
		width: 80% !important;
	}
}

@media only screen and (max-width: 600px) {
	.container {
		width: 90% !important;
	}
}

#homepage-hero {
	background: url('../images/bg_image_top.jpg');
	color: white;
	padding: 100px 0 20px 0;
	border-bottom: 3px solid red;
}

.hero-headline {
	font-family: 'Rubik-Light';
	font-size: 40px;
	color: #fff;
	margin-top: 10px;
}

.hero-text-one {
	/*color: red;*/
	font-family: 'SharpGroteskMedium24', 'Rubik-Light';
	font-size: 77px;
	font-weight: bold;
	letter-spacing: 10px;
	color: #f82e48;
	margin-bottom: 20px;
	background: -webkit-linear-gradient(#ff587f, #ff482b);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.hero-text-two {
	color: #fff;
	font-size: 24px;
	font-family: 'Rubik-Light';
	width: 100%;
	margin: 0 auto;
	margin-bottom: 30px;
	line-height: 35px;
}

.hero-text-three {
	display: flex;
	justify-content: center;
}

.htt-item {
	margin: 0px 10px;
}

.htt-mult {
	color: #a1a09e;
}

@media only screen and (max-width: 1570px) {
	.hero-headline {
		font-size: 36px;
	}
	.hero-text-one {
		font-size: 57px;
	}
	.hero-text-two {
		font-size: 20px;
		line-height: 28px;
	}
}

@media only screen and (max-width: 1220px) {
	.hero-headline {
		font-size: 32px;
	}
	.hero-text-one {
		font-size: 50px;
	}
	.hero-text-two {
		font-size: 18px;
		line-height: 27px;
	}
}

@media only screen and (max-width: 1000px) {
	.hero-headline {
		font-size: 29px;
	}
	.hero-text-one {
		font-size: 39px;
	}
}

@media only screen and (max-width: 800px) {
	.hero-headline {
		font-size: 22px;
	}
	.hero-text-one {
		font-size: 36px;
		letter-spacing: 4px;
		margin-bottom: 5px;
	}
	.hero-text-two {
		font-size: 15px;
		line-height: 24px;
	}
	/* p.bracket-text{
    width: 23%;
    font-size: 12px;
    transform: translate(10%, -7%);
  }*/
}

@media only screen and (max-width: 600px) {
	.hero-headline {
		font-size: 19px;
	}
	.hero-text-one {
		font-size: 26px;
		letter-spacing: 2px;
	}
	.hero-text-two {
		font-size: 11px;
		line-height: 18px;
	}
}

#homepage-features {
	background-color: white;
	color: black;
}

#homepage-steps {
	background: url('../images/stepsBG.png');
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	padding: 20px 0;
}

#homepage-download {
	background-color: #242b3b;
	height: 160px;
	border: 0.1px solid grey;
	display: flex;
	align-items: center;
	justify-content: center;
}

.download-container {
	width: 50%;
	border-right: 0.1px solid grey;
}

.browse-container {
	width: 50%;
}

@media only screen and (max-width: 700px) {
	img.download-template {
		width: 75%;
	}
	img.browse-github {
		width: 60%;
	}
}

#homepage-peeps {
	background-image: url('../images/peeps.png');
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 0;
	width: 100%;
	padding-top: 60%;
}

.peeps-headline {
	position: relative;
	margin-top: -168px;
	float: right;
	height: 50px;
	background-color: white;
	width: 70%;
	color: #000;
	text-align: left;
	font-size: 36px;
	font-family: 'SharpGroteskMedium24';
}

p.peeps-headline {
	padding-top: 10px;
	padding-left: 30px;
}

@media only screen and (max-width: 900px) {
	.peeps-headline {
		height: 50px;
		font-size: 24px;
		margin-top: -128px;
	}
	p.peeps-headline {
		padding-top: 10px !important;
		padding-left: 30px !important;
	}
}

@media only screen and (max-width: 800px) {
	.peeps-headline {
		height: 35px;
		font-size: 24px;
		margin-top: -75px;
	}
	p.peeps-headline {
		padding-top: 5px !important;
		padding-left: 7px !important;
	}
}

@media only screen and (max-width: 600px) {
	.peeps-headline {
		height: 20px;
		font-size: 16px;
		margin-top: -45px;
	}
	p.peeps-headline {
		padding-top: 0 !important;
		padding-left: 7px !important;
	}
}

#homepage-about-red {
	height: auto;
	width: 100%;
	text-align: left !important;
	margin: 0 auto;
	color: #000;
	font-size: 1.8em;
	line-height: 2.2em;
	font-family: 'Rubik';
	padding: 50px 0;
}

.copy-text-about {
	font-family: 'Rubik-Light';
}

@media only screen and (max-width: 960px) {
	.copy-text-about {
		font-size: 0.8em;
		line-height: 1.8em;
	}
}

@media only screen and (max-width: 600px) {
	.homepage-about-red {
		width: 90%;
	}
	.copy-text-about {
		font-size: 0.6em;
		line-height: 1.6em;
	}
	.headline-style-clients {
		width: 70%;
		margin: 0 auto;
		padding-bottom: 20px;
	}
}

.box {
	background-color: white;
	color: red;
	font-size: 90px;
	font-weight: bold;
	width: 200px;
	height: 400px;
	display: inline-block;
	border: 2px solid black;
	margin-bottom: 40px;
}

.headline-style-steps {
	color: '#fff';
	font-family: 'SharpGroteskMedium24';
	letter-spacing: 6px;
	font-size: 36px;
}

.headline-style-clients {
	color: '#000';
	font-family: 'SharpGroteskMedium24';
	letter-spacing: 6px;
	font-size: 36px;
}

@media only screen and (max-width: 600px) {
	.headline-style-clients,
	.headline-style-steps {
		font-size: 31px;
	}
}

.showcase-parent {
	text-align: center;
	padding-top: 80px;
}

video {
	padding: 10px;
}

.particles-js {
	position: absolute;
	z-index: -10;
	width: 100%;
	height: 100%;
	background: transparent;
}

iframe {
	width: 500px;
	height: 500px;
	overflow-x: hidden;
	overflow-y: scroll;
	padding: 15px;
}
