.feature {
    margin: 1em 1em;
    background: white;
    padding: 1em 4em;
    border-radius: 6px;
    display:inline-block;
    /*margin: 0 auto;*/
}

@media only screen and (max-width: 600px ){
	.feature {
		display: flex;
		align-items: center;
		margin: 0 auto;
	}
}