.hero {
    
    min-height: 100px;
    min-width: 100px;
    /*border-radius: 50%;*/
    background-image: url(../../images/red_logo.png);
    display: inline-block;

}

/*@media only screen and (max-width: 600px){
	.hero{
		display: flex;
		align-items: center;
		margin: 0 auto;
	}
}*/