.navbar {
  background-color: white;
  /*width: 100%;*/
  height: 80px;
  padding: 10px;
  color: black;
  position: relative;
 /* display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    width: calc(100% - 30px) !important;
    margin: 0px auto;*/
    
}

/*.navbar__title{
	display:inline-block;
	
}
.navbar__title p {
	display:flex;
	align-items: center;
}*/

.navbar__container {
	display: flex;
	align-items: center;
	height: 100%;
	width: 50%;
	margin: 0 auto;
}

.navbar__container-logo{
  
}

.spacer {
	flex: 1;
}

.navbar__container-items a{
	color:black;
	/*padding-right: 20px;*/
	font-size: 20px;
	text-decoration: none;
}

.navbar__container-items ul {
	display: flex;
	list-style-type: none;	
	margin: 0;
	padding: 0 1rem;
}
.navbar__container-items li {
	padding-right: 20px;
}

.navbar__container-items a:hover {
    border-bottom: 3px solid red;
    padding-bottom: 10px;



}
.navbar__container-items a:active {
	
}

@media only screen and (max-width: 600px){
	.navbar__container-items a {
		display:none;
	}
	.navbar__container {
		width: 80%;
	}
}

