@font-face{
	font-family: 'Gotham-Light';
	src: local('Gotham-Light'), url(../../fonts/Gotham-Light.ttf) format('ttf');
}



.navbar {
  background-color: white;
  /*width: 100%;*/
  height: 80px;
  padding: 10px;
  color: black;
  position: relative;
 /* display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    width: calc(100% - 30px) !important;
    margin: 0px auto;*/
    
}

/*.navbar__title{
	display:inline-block;
	
}
.navbar__title p {
	display:flex;
	align-items: center;
}*/

.navbar__container {
	display: flex;
	align-items: center;
	height: 100%;
	width: 60%;
	margin: 0 auto;
}

.navbar__container-logo a{
  text-decoration: none;
  color: black;


}

.navbar__container-logo {
	 vertical-align: top;
}


.red-logo{
	margin: -2px;
}
.vertical-divider{
	width: 0px;
	height: 30px;
	border: 1px solid red;
	margin: 0 15px;
	display: inline-block;
	
}
.red-ad-tech {
	font-size: 30px;
	margin: 0 auto;
	display: inline-block;
	font-family: 'Gotham-Light';
}

.spacer {
	flex: 1;
}

.navbar__container-items a{
	color:black;
	/*padding-right: 20px;*/
	font-size: 15px;
	text-decoration: none;
}

.navbar__container-items ul {
	display: flex;
	list-style-type: none;	
	margin: 0;
	padding: 0 1rem;
}
.navbar__container-items li {
	padding-right: 20px;
	font-family: 'Rubik-Regular';
	
}

.navbar__container-items a:hover {
    border-bottom: 3px solid red;
    padding-bottom: 10px;



}
.navbar__container-items a:active {
	
}

@media only screen and (max-width: 600px){
	.navbar__container-items a {
		display:none;
	}
	.navbar__container {
		width: 80%;
	}
}

