@font-face {
  font-family: 'Gotham-Light';
  src: local('Gotham-Light'), url(../../fonts/Gotham-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'Rubik-Light';
  src: local('Rubik-Light'), url(../../fonts/Rubik-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'Rubik-Regular';
  src: local('Rubik-Regular'), url(../../fonts/Rubik-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'SharpGroteskMedium24';
  src: local('SharpGroteskMedium24'), url(../../fonts/SharpGroteskMedium24.otf) format('opentype');
}

h1 {
	color: white;
	padding-bottom: 20px;
}

h2, h3{
	color:black;
}


.box-container{
	padding-bottom: 50px;

}
.box {
    background: white;
    display:inline-block;
    border-bottom: 3px solid red;
    height: 500px;
    margin: 3px;
    font-family: 'Rubik';
    /*margin: 0 auto;*/
}



.box-number {
	color: red;
	font-size: 150px;
	margin: 0;
    text-align: left;
    margin-left: -3px;
  	margin-top: -20px;
}
 
.box-label {
	color: black;
	font-size: 16px;
	margin-top: -90px;


}
.vertical-text {
	transform: rotate(90deg);
	margin-left: 30px;
	font-family: 'Rubik';
}

.box-headline {
	color: black;
	font-size: 24px;
	padding-top: 40px;
	text-align: left;
	padding-left: 10px;
	padding-right: 10px;
	font-family: 'Rubik';
	
}

.box-subheadline{
	color: black;
	font-size: 12px;
	margin-top: -20px;
	font-family: 'Rubik';
}
.box-text {
	color: black;
	font-size: 15px;
	padding: 30px 10px;
	text-align:left;
	font-family: 'Rubik-Light';
}

@media only screen and (max-width: 600px){
	.box {
		width: 46%;
		height: 400px;
	}
	.box-number{
		font-size: 120px;
	}
	.box-label{
		font-size: 12px;
		margin-top: -69px;
	}
	.vertical-text{
		margin-left: 30px;
	}
	.box-headline {
		font-size: 17px;
	}
	.box-text{
		font-size: 13px;
	}
}