.App {
  text-align: left;
}

.App-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  height: 80px;
}

.App-red-logo {
  float:right;
}

.App-header {
  background-color: #222;
  height: 220px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  text-align:center;
  padding-top: 20px;
}

.App-links {
  text-decoration: none;
  color:white;
  padding-right: 30px;
  font-size: 20px;
}

.home-parent {
  text-align:center ;
  padding: 0px 20px;
}

.home-middle {

}
li {
  margin: 0 auto;
  text-align:center;
  padding: 20px;
  border: 2px solid grey;
  display: inline-block;
  width: 180px;

}

li:nth-child(odd){
  background: yellow;
}
li:nth-child(even){
  background: lightgreen;
}




.showcase-parent {
  text-align: center;
}

video {
  padding: 10px;
}

.particles-js{
  position: absolute;
  z-index: -10;
  width: 100%;
  height: 100%;
  background: transparent;
}

.features-container {
  text-align:center;
}

.features-parent {
  margin: 24px auto;
  max-width: 240px;
  width: 44%;
  /*text-align: center;*/
}

.features-list {
  z-index: 1;
  text-align: center;
  display: table-cell;
  height: 200px; 
  width: 200px;
  vertical-align: middle;
  border-radius: 50%;
  border: 2px solid grey;
  background: lightyellow;
  color: #000;
}

.circle {
  position: relative;
  display: block;
  margin: 2em 0;
  background-color: transparent;
  color: #222;
  text-align: center;
}

.circle:after {
  display: inline-block;
  padding-bottom: 100%;
  width: 100%;
  height: 0;
  border-radius: 50%;
  background-color: #ddd;
  content: "";
}

.circle__inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.circle__wrapper {
  display: table;
  width: 100%;
  height: 100%;
}

.circle__content {
  display: table-cell;
  padding: 1em;
  vertical-align: middle;
}

@media (min-width: 480px) {
  .circle__content {
    font-size: 1em;
  }
}

@media (min-width: 768px) {
  .circle__content {
    font-size: 1em;
  }
}

