.App {
  text-align: left;
}

.App-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  height: 80px;
}

.App-red-logo {
  float:right;
}

.App-header {
  background-color: #222;
  height: 220px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  text-align:center;
  padding-top: 20px;
}

.App-links {
  text-decoration: none;
  color:white;
  padding-right: 30px;
  font-size: 20px;
}

.home-parent {
  text-align:center ;
  padding: 0px 20px;
}

.home-middle {

}
li {
  margin: 0 auto;
  text-align:center;
  padding: 20px;
  border: 2px solid grey;
  display: inline-block;
  width: 180px;
  
}

li:nth-child(odd){
  background: yellow;
}
li:nth-child(even){
  background: lightgreen;
}

.features-parent {
  text-align:center;
  
}

.showcase-parent {
  text-align: center;
}



/*.App-intro {
  background-color:yellow;

  font-size: large;
  text-align: right;
  display: inline;
  padding: 20px;

}*/

/*@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/
