
@font-face {
    font-family:"Rubik Regular";
    src:url("Rubik-Regular.woff2") format("woff2"),url("Rubik-Regular.woff") format("woff"),url("Rubik-Regular.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        