
@font-face {
    font-family:"Rubik Light";
    src:url("Rubik-Light.woff2") format("woff2"),url("Rubik-Light.woff") format("woff"),url("Rubik-Light.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        